body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    font-size: 25px;
    background-color: black;
    font-family: Arial, sans-serif;
    color: aliceblue;
}

.dice_container {
    display: flex;
}

.dice {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
    background-color: black;
    &.roll {
        animation: roll 0.5s infinite;
      }
}
.select_container{
    display: flex;
    vertical-align: middle;
    
}
.amount{
    width: 50px;
    height: 70px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.amount:hover{
    background-color: #000;
    color: #fff;
    border: 2px solid #ddd;
    transition: 0.3s;
}
.dice_button {
    margin: 15px;
    width: 150px;
    height: 50px;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 15px;
    transition: 0.3s;
    font-weight: bold;
}

.dice_button:hover {
    background-color: #000;
    color: #fff;
    border: 2px solid #ddd;
  }

  @keyframes roll{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
  }
