.join-host-container {
    width: 80vw;
    max-width: clamp(1500px,80vw,500px); 
    height: 80vh;
    max-height: 800px; 
    margin-top: 30px; 
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.join-container{
    display:grid;
    list-style-type: none;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    gap: 20px;
}
.lobby{
    position: relative;
    width: 50%;
    max-width: 150px;
    max-height: 200px;
    border-radius: 10px;
    margin: 15px;
    background-color: black;
}
.join-btn{
    position: absolute;
    bottom: 1px;
}
.host-btn{
    all: unset; 
    width: 65px;
    height: 65px;
    border-radius: 50%;
    padding: 5px;
}

.room-name{
    width: 100%;
    height: 10%;
    color: black;
    text-align: center;
    background-color: white;
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 15px 15px 0 0;
}



